bin
.luac
.idea
.gradle
build
toolkit.*
gradle
.vs
.vscode
cocosgame.sln
cocosgame.luaproj
cocosgame.config
game.log
frameworks/cocos2d-x
frameworks/cocos2d-x*
frameworks/runtime-src/proj.win32/.vs
frameworks/runtime-src/proj.win32/Debug.win32
frameworks/runtime-src/proj.win32/game.sdf
frameworks/runtime-src/proj.win32/game.opensdf
frameworks/runtime-src/proj.win32/game.VC.db
frameworks/runtime-src/proj.win32/game.VC.*
frameworks/runtime-src/proj.linux
xcuserdata
project.xcworkspace
.DS_Store
simulator/win32/game.pdb
simulator/win32/game.log
simulator/win32/game.ilk
src/quick
src/app
src/packages
cocostudio-ui/cocosgame/frameworks
cocostudio-ui/cocosgame/res
cocostudio-ui/cocosgame/src
cocostudio-ui/**/*.udf
cocostudio-ui/res
archivedata