<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{852,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,100}}</string>
                <key>sourceSize</key>
                <string>{852,100}</string>
            </dict>
            <key>bar_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,814},{208,50}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,5},{208,50}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>bar_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{310,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,100}}</string>
                <key>sourceSize</key>
                <string>{310,100}</string>
            </dict>
            <key>bar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,402},{310,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,100}}</string>
                <key>sourceSize</key>
                <string>{310,100}</string>
            </dict>
            <key>bar_unchoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{165,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,100}}</string>
                <key>sourceSize</key>
                <string>{165,100}</string>
            </dict>
            <key>btn_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,764},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>btn_matchbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{367,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{367,44}}</string>
                <key>sourceSize</key>
                <string>{375,50}</string>
            </dict>
            <key>btn_multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,714},{98,98}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{98,98}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,302},{98,102}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{98,102}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>btn_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,202},{98,102}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{98,102}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>energy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,686},{234,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{234,50}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,450},{234,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{234,50}}</string>
                <key>sourceSize</key>
                <string>{236,60}</string>
            </dict>
            <key>main_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,104},{150,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,96}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
            <key>power_clearstone_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,922},{88,82}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{88,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>power_clearstone_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,922},{88,82}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{88,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>power_meteor_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,922},{88,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>power_meteor_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,922},{88,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>power_spar_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,922},{88,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>power_spar_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,922},{88,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>power_time_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,814},{88,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{88,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>power_time_unopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,922},{88,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{88,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>square1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,388},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,326},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,264},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>square4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,202},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>start_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{852,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,312}}</string>
                <key>sourceSize</key>
                <string>{852,312}</string>
            </dict>
            <key>unopen_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,344}}</string>
                <key>sourceSize</key>
                <string>{852,344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73714774fd1a2379dd4c9ff471035969$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
